* {
    margin: 0;
    padding: 0;
}

:root {
    --gbg:linear-gradient(83deg, rgba(17,125,162,1) 23%, rgba(34,164,31,1) 71%);
}

body {
    font-family: 'Roboto', sans-serif
}

.icon-nav {
    padding: 8px;
}
.stellarnav > ul > li > a {
    padding: 0px 15px;
    text-transform: uppercase;
    color: black;
}

.icon-content img {
    width: 40%;
    position: absolute;
    top: 20px;
    left: 85px;
}

.nav-social-icon {
    text-align: right;
}

.nav-social-icon ul {
    margin: 0;
}

.nav-social-icon ul li {
    display: inline-block;
    padding: 5px;
}

.nav-social-icon ul li a {
    color: #26ac02;
}

.banner-img img {
    width: 100%;
}

.banner-sec {
    position: relative;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 210px;
    width: 420px;
    transform: translate(0, -50%);
}

.banner-content h3 {
    font-size: 70px;
    color: #0a6dd9;
}

.banner-content p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 35px;
}

.banner-content a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background: var(--gbg);
    padding: 10px 25px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
}

.banner-right ul li {
    display: inline-block;
    padding: 20px 25px;
}

.banner-right ul li:first-child {
    background: #0a6dd9;
    border-top-left-radius: 30px;
}

.banner-right ul {
    margin: 0;
    background: #0a6dd9;
    display: flex;
    border-top-left-radius: 56px;
    list-style: none;
}

.banner-right ul li:last-child{
     background: #26ac02;
}

.banner-right ul {
    margin: 0;
    background: #0a6dd9;
    
    
}

.banner-right {
    position: absolute;
    bottom: 0;
    right: 0px;
    z-index: 999;
}

.banner-right ul li a i {
    margin: 5px;
}

.banner-right ul li a {
    color: #fff;
    text-decoration: none;
}
.choose-us-img img {
    width: 100%;
}
.about-us-img img {
    width: 100%;
}
.form-img img {
    width: 100%;
}
.customcard {
    display: flex;
    align-items: center;
}
.customcard .img-icon {
    height: 95px;
    width: 125px;
    margin-right: 20px;
    background: var(--gbg);
    clip-path: polygon(50% 0%, 100% 30%, 100% 70%, 50% 100%, 0 70%, 0 30%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.customcard .img-icon i {
    color: #fff;
    font-size: 27px;
}

.banner-bottom {
    background: #cef0b4;
    padding: 40px 0px;
}


.banner-sec .owl-dots {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%) rotate(271deg);
    /* transform: rotate(271deg); */
}


.big-img {
    clip-path: polygon(50% 0, 100% 30%, 100% 70%, 50% 100%, 0 70%, 0 30%);
    height: 480px;
    width: 471px;
    /* margin: 0 auto; */
    margin-left: auto;
}
.big-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.small-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.small-img {
    clip-path: polygon(50% 0, 100% 30%, 100% 70%, 50% 100%, 0 70%, 0 30%);
    height: 289px;
    width: 278px;
    position: absolute;
    bottom: 8px;
    left: 47px;
    z-index: 2;
}
.about-us-img {
    position: relative;
}
.about-us-img::before {
    content: "";
    height: 331px;
    width: 305px;
    position: absolute;
    background: #fff;
    bottom: -13px;
    left: 34px;
    z-index: 1;
    clip-path: polygon(50% 0, 100% 30%, 100% 70%, 50% 100%, 0 70%, 0 30%);
}
.about-us {
    padding: 80px 0px;
}
.about-us h2 {
    text-transform: capitalize;
    font-weight: 600;
}
.about-us p {
    font-size: 14px;
}
.our-mission h4 {
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 600;
}
.our-mission p {
    font-size: 14px;
    margin-bottom: 40px;
}
.our-mission a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: var(--gbg);
    color: #fff;
    padding: 10px 32px;
    border-radius: 50px;
    font-size: 12px;
}
.content h3 {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
}
.content p {
    font-size: 14px;
}
.row {
    margin-right: 0;
}
.col-lg-6 {
    padding: 0;
}
.choose-us-content {
    background: #2ea3f2;
    padding: 40px 60px;
    color: #fff;
}
.choose-us-content h4 {
    text-transform: capitalize;
    font-size: 60px;
}
.choose-us-content span {
    font-size: 16px;
    font-weight: 600;
}
.choose-us {
    padding: 100px 0px;
}
.our-services {
    padding: 100px 0px;
    text-align: center;
    background: #c7ccce33;
}
.our-services p {
    color: #6c6c6c;
    width: 50%;
    text-align: center;
    display: inline-block;
}
.our-services h4 {
    text-transform: capitalize;
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: 600;
}
.our-services h4 {
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 600;
}
.services-sec {
    background: #fdfdfd;
    padding: 40px 10px;
    border-radius: 30px;
}
#services .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
    padding-bottom: 80px;
}
.services-content h3 {
    margin-top: 20px;
    font-size: 28px;
    font-weight: 400;
}
.services-content a {
    text-decoration: none;
    color: #fff;
    background: var(--gbg);
    padding: 12px 40px;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    position: absolute;
    bottom: -20px;
    left: 40px;
}
.services-content p {
    width: 100%;
}

.form-sec {
    padding: 50px 200px;
}
i.fa-solid.fa-angle-right:hover {
    background: #2ea2f0;
}
i.fa-solid.fa-angle-right {
    position: absolute;
    top: 45%;
    right: -50px;
    background: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
i.fa-solid.fa-angle-left {
    position: absolute;
    top: 45%;
    left: -50px;
    background: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
i.fa-solid.fa-angle-left:hover {
    background: #2ea2f0;
}
.testimonial {
    padding: 30px 0px;
}

.testimonial-content {
    background-image: url(../images/qto.png);
    background-repeat: no-repeat;
    background-position: top right;
    padding: 30px 0;
}
.star {
    margin-bottom: 15px;
}
.testimonial-footer {
    display: flex;
    background: #dedede;
    padding: 5px;
}
i.fa-solid.fa-star {
    color: #fec351;
    margin: 2px;
}
.testimonial h4 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 25px;
    text-transform: capitalize;
    font-weight: 600;
}
.testimonial-footer-content h3 {
    font-size: 17px;
    text-transform: capitalize;
    color: #000d5b;
    font-weight: 600;
    margin-top: 22px;
    margin-left: 10px;
}
.testimonial-footer-content p {
    margin-left: 10px;
}

.testimonial-content p {
    margin-bottom: 0;
    font-size: 15px;
}
.testimonial-content p {
    margin-bottom: 0;
}
.img img {
    border: 2px solid transparent;
    border-radius: 50px;
}
.img img:hover {
    border-radius: 50%;
    border: 2px solid #26ac02;
}
.left-section {
    position: relative;
}
.left-section-img-content img {
    width: 30%;
    position: absolute;
    top: 20px;
    left: 90px;
}
.footer-section {
    background: #000d5a;
    padding: 100px 0px;
}
.left-section-content p {
    color: #6c6c6c;
    margin-top: 35px;
    font-size: 14px;
}
.left-section-icon ul li {
    display: inline-block;
    margin: 5px;
}
.left-section-img-content h5 {
    color: #fff;
    text-transform: capitalize;
    font-size: 12px;
    position: absolute;
    top: 40px;
    left: 90px;
    font-weight: 200;
}
.left-section-img-content h4 {
    color: #fff;
    text-transform: capitalize;
    position: absolute;
    top: 17px;
    left: 92px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
}
.left-section-icon ul li i {
    color: #26ac02;
}
.footer-right-section {
    color: #fff;
    text-transform: capitalize;
    max-width: 100%;
    min-height: 245px;
    padding: 20px;
}
.footer-right-section.quick-links {
    border: 4px solid #26ac02;
}
.footer-right-section ul li {
    list-style: none;
}
.footer-right-section ul li a {
    text-decoration: none;
    color: #6c6c6c;
}
.footer-right-section.area-of-service {
    border: 4px solid #fff;
}
.footer-right-section.quick-contact {
    border: 4px solid #2ea3f2;
}
.footer-right-section.quick-contact ul li a i {
    color: #fff;
    margin-right: 12px;
}
.form-section {
    background: url(../images/form-image.png);
    background-size: cover;
}
.form-menu form {
    padding: 20px;
    background: #fff;
}
.form-menu .form-control {
    border: 0;
    background: #ededed;
    margin-bottom: 10px;
    height: 40px;
}
.form-menu h5 {
    background: #2ea3f2;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
    margin: 0;
}
.form-right h4 {
    color: #fff;
    font-size: 46px;
    font-weight: bold;
    margin: 15px 0px;
}
.submit-button {
    border: none;
    background: var(--gbg);
    padding: 7px 80px;
    border-radius: 50px;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    left: 30%;
    bottom: -35px;
}
.form-right {
    padding: 20px 50px 45px 30px;
}